
<div class="middle-box text-center loginscreen  animated fadeInDown">
    
        <div class="margin-top"><%= image_tag("patterns/swp-logo.png", size: "118x102", alt: "sss")%>
        </div>
        <h3>Forgot your password?</h3>
        <p>Please enter your email address.</p>
        <div>
            <div ng-repeat="error in errors" class = "alert-danger"> {{error}} </div>
        </div>
       
        <form  name="loginForm" class="m-t" method="post" novalidate ng-submit="loginForm.$valid && reset_password()">
            <div class="form-group">
                <input type="email" ng-model="user.email" name="userEmail"  required valid-email class="form-control" placeholder="Email" ng-init="user.email='a@a.com'">
                <div class="error" ng-show="(loginForm.$submitted && loginForm.userEmail.$error.required) || 
                  (loginForm.userEmail.$touched && loginForm.userEmail.$invalid)">
                    Please enter email
                </div>    
            </div>
            
            <input type="submit" class="btn btn-primary block full-width m-b"  value="Send me reset password instructions"/>
        </form>
        <p class="m-t">
            <small>&copy; Softway Solutions 2015</small>
        </p>
    </div>

 