
<div class="middle-box text-center loginscreen  animated fadeInDown">
    
        <div class="margin-top"><%= image_tag("patterns/swp-logo.png", size: "118x102", alt: "sss")%>
        </div>
        <h3>Change your password.</h3>
        <p>Change your password.</p>
        <div>
            <div ng-repeat="error in errors" class = "alert-danger"> {{error}} </div>
        </div>
        <form  name="loginForm" class="m-t" method="get" novalidate ng-submit="loginForm.$valid && update_password()">
            <div class="form-group">
                <input type="hidden" class="form-control" name="userToken" required  ng-minlength=8 ng-model="user.reset_password_token"  ng-init="user.reset_password_token=reset_password_token">
                <input type="password" class="form-control" placeholder="Password" name="userPasssword" ng-model="user.password" 
                 ng-minlength=8 required>
                <span class="error" ng-show="(loginForm.userPasssword.$error.required || loginForm.userPasssword.$error.minlength) && 
                  loginForm.$submitted">
                    Password must be atleast eight characters
                </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="userConfirmPasssword"  ng-model="user.password_confirmation" ng-minlength=8 pwd-validity="{{user.password}}" required>
                <span class="error" ng-show="loginForm.$submitted && (loginForm.userConfirmPasssword.$error.required || 
                  loginForm.userConfirmPasssword.$error.minlength)">
                    Confirm Password must be atleast eight characters
                </span>
                <span class="error" ng-show="loginForm.userConfirmPasssword.$error.pwdValidity && loginForm.$submitted && !loginForm.userConfirmPasssword.$error.required " >
                    These passwords don't match. Try again?
                </span>
            </div>
            <input type="submit" class="btn btn-primary block full-width m-b"  value="Change My Password"/>
        </form>
        <p class="m-t">
            <small>&copy; Softway Solutions 2015</small>
        </p>
    </div>

 