<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Team Users</h2>
    </div>
</div>

 <!--    <p><strong>Page:</strong> {{tableParams.page()}}
        <p><strong>Count per page:</strong> {{tableParams.count()}} -->
<!--  <a href="#/users/{{team_id}}/add"  class="btn btn-small btn-primary">Add User</a>
 -->  
 <div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-content">   
        <table ng-table="tableParams" class="table ng-table-responsive table-striped table-bordered" fixed-table-headers="scrollable-area">
                <tr ng-repeat="data in $data">
                    <td data-title="'Name'">
                        {{data.first_name | capitalize}} {{data.last_name | capitalize}}
                    </td>
                    <td data-title="'Employee ID'">
                        {{data.employee_id}}
                    </td>
                    <td data-title="'Email'">
                        {{data.email}}
                    </td>
                     <td data-title="'Approver'">
                        {{data.approver}}
                    </td>
                     <td data-title="'Technologies'">
                        {{data.technology_name}}
                    </td>
                     <td data-title="'Status'">
                        {{data.user_status | uppercase}}
                    </td>
                <!--     <td data-title="'Actions'">
                        <a ng-click="showUser(data.id,team_id)" class="btn btn-small btn-primary">Show</a>
                    </td> -->
                </tr>
            </table>

 </div>
            </div>
        </div>
    </div>
</div>