<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="NavCtrl" > 
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li ng-class="{active: isActive('/dashboard'),landing_link: isActive('/dashboard')}">
                <a href="#/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li ng-if="userRole=='admin'" ng-class="{active: isActive('/departments'),landing_link: isActive('/departments')}">
                <a href="#/departments"><i class="fa fa-institution"></i> <span class="nav-label">Departments</span></a>
            </li>
             <li ng-if="userRole=='admin'" ng-class="{active: isActive('/technologies'),landing_link: isActive('/technologies')}" >
                <a href="#/technologies"><i class="fa fa-laptop"></i> <span class="nav-label">Technologies</span></a>
            </li>
            <li ng-if="userRole=='admin'" ng-class="{active: isActive('/users'),landing_link: isActive('/users')}">
                <a href="#/users"><i class="fa fa-users"></i> <span class="nav-label">Users </span></a>
            </li>
            <li ng-if="userRole=='admin'" ng-class="{active: isActive('/resource-utilization'),landing_link: isActive('/resource-utilization')}">
                <a href="#/resource-utilization"><i class="fa fa-flask"></i> <span class="nav-label">Resource Utilization</span> </a>
            </li> 
             <li ng-if="userRole=='admin'" ng-class="{active: isActive('/projects'),landing_link: isActive('/projects')}">
                <a href="#/projects"><i class="fa fa-rub"></i> <span class="nav-label">Projects</span> </a>
            </li> 

            <li ng-if="userRole=='reporting manager'" ng-class="{active: isActive('/teamuser'),landing_link: isActive('/teamuser')}">
                <a href="#/teamuser"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Review Weekly Plan</span> </a>
            </li>

           <!--  <li ng-if="userRole=='project manager' || userRole=='admin'" ng-class="{active: isActive('/resource-allocation'),landing_link: isActive('/resource-allocation')}">
                <a href="#/resource-allocation"><i class="fa fa-flask"></i> <span class="nav-label">Resource Allocation</span> </a>
            </li> -->


                              
        </ul>
    </div>
</nav>

<!-- <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    
                    <li class="active">
                        <a href="dashboard.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>                        
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span></a>
                        
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span></a>
                        
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span> </a>
                    </li>                    
                </ul>

            </div>
        </nav> -->